__pycache__/
.ipynb_checkpoints/
.vscode/
*.pdf
*.txt
*.zip
*.pt
.DS_Store
results/
results_*
gp_results/
plots/
wandb/
sequence_design/configs/*.yaml
sequence_design/ckpts*
sequence_design/data*
*/archived/
